{
 :a "b"
 :b #join ["a" #ref [:a] "c"]
 :c #ref [:b]
 :c1 #ref [:a]
 :d {:the-key #ref [:b]
     :list [42 #ref [:a] #int "44"]}
 :e #join [#ref [:d :the-key] "- this is awesome"]

 :g {:a {"abc" {:c :value-for-f-plz}}}
 :f #ref [:g :a #ref [:b] :c]
 :z #inst "2017-02-09T20:13:48.024-00:00"

 :profile #profile {:dev :DEV
                    :prod :PROD}
 }
